h1{
    color:#C8D1F7;
    font-size: 50px ;
}
h3 {
    font-size:large;
    color:#C8D1F7;
}
#Title{
    text-align: center;
}

#Browse{
    text-align: right;
    margin-right:35%;
    margin-top: -35px;
}

#Enter{
    text-align: center;
    margin-right: 47%;
    margin-top: 15px;
}

#Movie{
    margin-left: 22%;
}

body{
    font-family: 'Irish Grover';
    background-color: #292C33;
}