h1{
    color:#C8D1F7;
    font-size: 50px ;
    font-stretch: expanded;
}

h2{
    color:#959BB8;
}

h3 {
    font-size:large;
    color:#C8D1F7;
}
#Title{
    text-align: center;
}

#Browse{
    text-align: right;
    margin-right:35%;
    margin-top: -35px;
}

#Enter{
    text-align: center;
    color:#959BB8;
    margin-right: 25%;
    margin-top: 50px;
}

#Movie{
    margin-left: 35.2%;
}

#SeenThisToo{
    text-align: center;
    font-size: 30px;
}

#player{
    position: relative;
    left: 15%;
}

#Lookup{
    margin-bottom: 50px;
    margin-left: 35.2%
}

/*.flex-Div{
    display:flex;
    justify-content: space-evenly;
}
*/
.Trailer-Details{
    text-align: right;
    margin-right: 30%;
    margin-top: -400px;
}

body{
    font-family: 'Irish Grover';
    background-color: #292C33;
}
